HTML, body {
    margin: 0px;
    padding: 0px;
      border: 0px;
      background-color: black;
    }

.overoverall {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overall {
  width: 420px;
}

.wordsblocktop{
    margin: 5px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usertoptext {
    font-family: Neuliner, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    line-height: 30px;
    color: #ff0000;
}

.usercurrentbet {
  font-family: Neuliner, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: #E48400;

}

.dealbutton {
  margin: 100px 10px 104px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sprinningcardswrap {
  display: flex;
  align-items: center;
}