HTML, body {
    margin: 0px;
    padding: 0px;
      border: 0px;
      background-color: black;
    }

    .overoverall {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

.overall {
  width: 400px;
  
}

.wordsblocktop{
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usertoptext {
    font-family: Neuliner bold, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    line-height: 40px;
    color: #ff0000;
}

.usercurrentbet {
  font-family: Neuliner bold, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  color: #E48400;

}

.form-box {
  font-family: Neuliner bold, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  min-width: 390px;
  border: solid #E48400 1vw;
  /* border: 1px solid red; */
  margin: 0vw;
  /* padding: 1vw ; */

  margin: 0 auto 

}

.form-box input, textarea{
  display: grid;
  width: 340px;
  padding: .5rem .8rem .5rem .8rem;
  margin: 10px;
  border:0;
  border-radius: 5px;
  font-size: 20px;
  background: #FFF7C4;
  
 
}


.form-box-betfront {
  /* display: inline;
  align-items: center; */
  font-family: Neuliner bold, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  min-width: 100px;
  border: solid #E48400 .5vw;
  /* border: 1px solid red; */
  margin-left: 2vw;
  margin: 0 auto;

}



/* input[type="radio"] {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
} */

/* .custom-radio {
  /* hiding browser el */
  /* appearance: none; */
  /* Safari support */
  /* -webkit-appearance: none;
  border: 0.2rem solid #fff;
  background-color: var(--bg-color);
  border-radius: 50%;
} */

.box-shadow {
  box-shadow: 0 0 0 1px var(--color);
}

.box-shadow:hover {
  border-width: 0;
}

.box-shadow:checked {
  box-shadow: 0 0 0 1px var(--checked-color);
  background-color: var(--checked-color);
  border-width: 0.2rem;
}

.form-box textarea{
  height: 15vh;
}

/* .box {
  white-space: nowrap;
}
.box label {
  white-space: nowrap;
} */

/* input[type=text] {
  padding:5px; 
  border:2px solid #FFF7C4; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
} */

.buttonsty:focus {
  border-color: red;
}

.buttonsty {
  padding:5px 15px; 
  background:#FFF7C4; 
  border: 0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  width: 100%;

}


.dealbutton {
  margin: 85px 10px 111px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sprinningcardswrap {
  display: flex;
  align-items: center;
}

.loginlabel {
  font-family: Neuliner bold, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: #E48400;
  
}